// sets custom theme
$mbta-font-family: "Inter UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mbta--theme: (
  interactive-01: #165c96,
  text-04: #ffffff,
  hover-primary: #06467a,
  body-short-01: (
    font-family: $mbta-font-family,
    font-size: 1em,
    font-weight: 500,
    line-height: 1.5,
    letter-spacing: 0.16px,
  )
);

$carbon--theme: $mbta--theme;
@import 'carbon-components/scss/globals/scss/vendor/@carbon/themes/scss/themes.scss';
@include carbon--theme();

// Button Variables
$button-border-radius: .25rem;
$button-padding: .6rem 1.6rem;

@import 'carbon-components/scss/components/button/_button.scss';

body {
  padding: 1em;
}

pre {
  border: 1px grey solid;
  margin: 1em;
  padding: 1em;
  white-space: pre-wrap;
  font-family: monospace;
}